.header {
  &__container {
    width: 100%;
    bottom: 450px;
  }

  &__text {
    font-size: 100px/80px D-DIN-Bold, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
  }
}

@media (max-width: 900px) {
  .header {
    &__container {
      bottom: 350px;
    }

    &__text {
      font-size: 4rem;
    }
  }
}
